.gif{
    max-height: 200px;
}
.container2{
    display: flex;
    flex-flow: column wrap;
    border: 2px solid black;
    justify-content: center;
    flex-basis: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.gifDiv{
    text-align: center;
}